* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #14120B;
    overflow-x: hidden;
}

/* Navigation */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #14120B;
}

#nav-brand,
#nav-links,
#nav-actions {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#nav-links li {
    margin: 0 15px;
}

#nav-links li:first-child {
    margin-left: 0;
}

#nav-links li:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    transition: opacity 0.2s ease;
}

.nav-link:hover {
    opacity: 0.8;
}

#logo {
    width: 95px;
    height: 30px;
    cursor: pointer;
}

/* Buttons */
.btn {
    padding: 5px 10px;
    border-radius: 999px;
    font-size: 13px;
    text-decoration: none;
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #3b3b3b;
}

#download-btn,
.btn-primary {
    background: #ffffff;
    color: #14120B;
}

#download-btn:hover,
.btn-primary:hover {
    background: #e7e7e7;
}

#signin-btn,
.btn-ghost {
    color: #ffffff;
    background: transparent;
}

#signin-btn:hover,
.btn-ghost:hover {
    background: #ffffff1a;
}

#nav-actions {
    gap: 10px;
}

/* Hero Section */
#hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    padding: 112px 20px 20px 20px;
    margin: 0 auto;
    color: #ffffff;
}

#hero-content {
    max-width: 700px;
}

#hero-text {
    font-size: 1.6rem;
    margin-bottom: 30px;
    line-height: 1.15;
    opacity: 0.9;
    letter-spacing: 0.02em;
}

#hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-weight: 500;
    width: 250px;
    border-radius: 999px;
}

#hero-download-btn,
.btn-download {
    background: none;
    color: #14120b;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 14px 20px;
    justify-content: center;
}

#hero-download-btn:hover,
.btn-download:hover {
    background: #e7e7e7;
}

#hero-image-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

#hero-img {
    max-width: 100%;
    border-radius: 4px;
    display: block;
}

#overlay-img {
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 2;
}

#trusted-by {
    background: #14120B;
    padding: 80px 0;
}

#trusted-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
}

#trusted-text {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 20px;
}

#trusted-logos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 22px;
}

.logo-card {
    height: 100px;
    background: linear-gradient(180deg,
            #1a1a1a,
            #0f0f0f);
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease;
}


.logo-card img {
    width: 110px;
    opacity: 0.9;
}


.logo-card:hover {
    border-color: #2a2a2a;
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/*  */
.feature {
    padding: 100px 6%;
    background-color: #0B0B0B;

}

.feature-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 140px;
    background: #1D1B15;


}


.feature-row.reverse {
    direction: rtl;
}

.feature-block.reverse>* {
    direction: ltr;
}

.feature-text h2 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 600;
}

.feature-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #d1d5db;
    margin-bottom: 20px;
    line-height: 1.6;
}

.feature-text a {
    font-size: 16px;
    color: #ff7a00;
    text-decoration: none;
    font-weight: 500;
}

.feature-text a:hover {
    color: #ff7b00ce;
}

.feature-img img {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}



/* Final CTA Download Button */

#final-cta {
    background: #14120B;
    padding: 100px 5px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#final-cta h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 30px;

}


/* footer section started */

#footer {
    padding: 20px 1%;
    background: #1B1913;
}

#footer-grid {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    max-width: 1200px;
    margin: auto;
}

.footer-col h4 {
    color: #9ca3af;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
}

.footer-col a {
    display: block;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 14px;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.footer-col a:hover {
    color: #d1d5db;
}

#footer-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: center;
    margin-top: 5rem;
    padding-top: 1.4rem;
    border-top: 1px solid #1f1f1f;
}

#footer-left,
#footer-right {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #9ca3af;
    font-size: 14px;
}

#footer-right a {
    text-decoration: none;
    color: #ffffff;
}

#footer-right a:hover {
    text-decoration: underline;
}

.dot {
    color: #555;
}