* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #14120B;
    overflow-x: hidden;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
}

.nav-brand,
.nav-links,
.nav-actions {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    transition: opacity 0.2s ease;
}

.nav-link:hover {
    opacity: 0.8;
}

.logo {
    width: 95px;
    height: 30px;
    cursor: pointer;
}

/* Buttons */
.btn {
    padding: 5px 10px;
    border-radius: 999px;
    font-size: 13px;
    text-decoration: none;
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #3b3b3b;
}

.btn-primary {
    background: #ffffff;
    color: #14120B;

}

.btn-primary:hover {
    background: #e7e7e7;
}

.btn-ghost {
    color: #ffffff;
    background: transparent;
}

.btn-ghost:hover {
    background: #ffffff1a;
}

.nav-actions {
    gap: 10px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    padding: 112px 20px 20px 20px;
    margin: 0 auto;
    color: #ffffff;
}

.hero-content {
    max-width: 700px;
    /* padding: 12px 68px 20px 20px; */
}

.hero-text {
    font-size: 1.6rem;
    margin-bottom: 30px;
    line-height: 1.15;
    opacity: 0.9;
    letter-spacing: 0.02em;
}

.hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-weight: 500;
    width: 250px;
    border-radius: 999px;
}

.btn-download {
    background: none;
    color: #14120b;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 14px 20px;
    justify-content: center;
}

.btn-download:hover {
    background: #e7e7e7;
}

.hero-image-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.hero-img {
    max-width: 100%;
    /* height: 9; */
    border-radius: 4px;
    display: block;
}

.overlay-img {
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 2;
}





/* footer section started */