* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: #14120B
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 500;
    font-family: Inter, sans-serif;
    font-size: 14px;
}

.child-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.child-nav li {
    margin: 0 15px;
}

.child-nav li:first-child {
    margin-left: 0;
}

.child-nav li:last-child {
    margin-right: 0;
}

.child-nav a {
    text-decoration: none;
    /* color: #ffffff; */
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}

.logosrcset {
    width: 90px;
    height: 30px;
    color: #ffffff;
    width: 95px;
    cursor: pointer;
}

.btn {
    padding: 5px 10px;
    border-radius: 999px;
    font-size: 13px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.download {
    background: #ffffff;
    border: 1px solid #3a3a3a;
}

.download:hover {
    background: #e7e7e7;
    color: #1a1a1a;
}


.signin {
    color: #ffffff;
    background-color: #ffffff;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 20px;
    max-width: 1200px;
    color: #ffffff;
}

.hero-content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.hero p {
    font-size: 1.6rem;
    margin-bottom: 30px;
    line-height: 1.15;
    opacity: 0.9;
    letter-spacing: 0.02em;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-weight: 500;
    width: 250px;
    border-radius: 999px;
    padding: 10px 1px;
}

.hero-buttons .btn.download-icon {
    background: none;
    color: #14120b;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}