* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #14120B
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.child-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.child-nav li {
    margin: 0 15px;
}

.child-nav li:first-child {
    margin-left: 0;
}

.child-nav li:last-child {
    margin-right: 0;
}

.child-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}

.logosrcset {
    width: 90px;
    height: 30px;
    color: #ffffff;
    width: 95px;
    cursor: pointer;
}

.btn {
    padding: 7px 16px;
    border-radius: 999px;
    font-size: 13px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.btn.download {
    color: #1a1a1a;
    background: #e6e6e6 ;
    border: 1px solid #3a3a3a;
}

.btn.download:hover {
    background: #1a1a1a;
}

.download {
    background-color: #ffffff;
    color: #14120b;

}

.signup {
    color: #000000;
    background-color: #ffffff;
}